@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: purple;
    background: url('/sesje/rekwizyty/background_udostepnianie.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: white;
    border-radius: 12px;
    padding: 30px 45px;
}

.wrapper h1{
    font-size: 40px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
}

.input-box input {
    float:left;
    clear:left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    overflow: hidden;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 22px;
    font-size: 18px;
    color: white;
    /*padding: 20px 45px 20px 20px; */
}

#shared-count, #shared-date{
    padding: 20px 45px 20px 20px; 
}

.wrapper input[type="file"]::file-selector-button {
    margin: 9px;
    border: 2px solid grey;
    padding: 0.2em 0.4em;
    border-radius: 22px;
    background-color: white;
    transition: 1s;
}

.wrapper input[type="file"]::file-selector-button:hover {
  cursor: pointer;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  /*position: absolute;*/
    /*background: transparent;*/
    /*color: white;*/
    filter: invert(1);
    left: 90%;
    top: 50%;
    width: 50px;
    height: 45px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 19px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}

.wrapper p {
    font-size: 15px;
    text-align: center;
}

.wrapper a {
    font-size: 40px;
    text-align: center;
}

#link-to-copy {
    display: none;
}


